# Byte-compiled files
__pycache__/
*.py[cod]

# Environment
.env

# OS
.DS_Store

# Virtual envs
.venv/
venv/

# Data & Logs
data/*
logs/*
vendor/*.whl
vendor/*.whl
*.pt
*.zip
vendor/*.whl
vendor/*.whl
vendor/*.whl
vendor/*.whl
